server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: file://${user.home}/IdeaProjects/skydive-forecast-svc-config
          search-paths: '{application},shared'
          default-label: master
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
